html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.responsive-img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

.responsive-cover-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.responsive-fill-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.responsive-contain-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}