html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.responsive-img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

.responsive-cover-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.responsive-fill-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.responsive-contain-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.lll {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    top: 0;
}

.lll #loader {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    transform: translate3d(-50%, -50%, 0);
}

.lll .loader-dot {
    width: 24px;
    height: 24px;
    background-color: #D0281F;
    display: inline-block;
    animation: slide 1s infinite;
}

.lll .loader-dot:nth-child(even) {
    background-color: #D0281F;
}

.lll .loader-dot:nth-child(odd) {
    background-color: #068747;
}

.loader-dot:nth-child(1) {
    animation-delay: 0.1s;
}

.loader-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loader-dot:nth-child(3) {
    animation-delay: 0.3s;
}

.loader-dot:nth-child(4) {
    animation-delay: 0.4s;
}

.loader-dot:nth-child(5) {
    animation-delay: 0.5s;
}

@keyframes slide {
    0% {
        scale: 1;
        rotate: 0;
    }
    50% {
        opacity: 0.3;
        scale: 2;
        rotate: 90deg;
    }
    100% {
        scale: 1;
        rotate: 180deg;
    }
}